body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    margin-top: 4rem;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin: 0.25em 0;
}

#container {
    margin: 0 auto 15rem;
    padding: 0 auto;
}

.tippy-box {
    background-color: rgb(190, 190, 190);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    color: black;
}

.tippy-arrow {
    color: rgb(190, 190, 190);
}

.tooltip {
    text-align: left;
}

.tooltip span {
    font-weight: bold;
}

.guild-name {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.tooltip .info {
    background-color: rgb(219, 219, 219);
    padding: .15rem .35rem;
    border: 1px black solid;
}